html{
    background: #17181b;
}
html, body{
    margin: 0;
    padding: 0;
}
.bg{
    display: flex;
    background: #101113;
    height: 60px;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    font-family: Freemono, monospace;
    background: rgb(224, 224, 0);
    padding: 5px;
    border-radius: 7px;
    margin-left: 20px;
  }
.info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.information{
    margin-left: 30px;
    color: white;
    font-size: 24px;
}
#image{
    border-radius: 20px;
    border: 1px solid black;
}
.mainInfo{
  width: 70%;
}
.divInfo{
  display: flex;
  justify-content: center;
}
.descriptionTab{
  margin-left: 20px;
  margin-top: 40px;
  color: white;
  font-size: 26px;
  font-family: Freemono, monospace;
  border: 2px solid lightgray;
  padding: 10px;
}
#description{
  color: white;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.backBtn{
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 27px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #36393e;
  color: white;
  margin-left: 35px;
  margin-top: 25px;
}
.nameDesDiv{
  display: flex;
  justify-content: center;
}